.table{
	box-sizing: border-box;
	margin: 0;
	flex: 1 1 auto;
	padding: 10px 0;
}

.react-grid-Container{
	max-width: 100%;
}
.table *{
	box-sizing: border-box;
}

.react-grid-HeaderCell{
	background: #FFE3EB;
}

